@using NoteLite.Models
@model List<User>

@if (ViewBag.UDelete_response_Admin != null)
{
    if (ViewBag.UDelete_response_Admin == "Done")
    {
        <script>
            alert("User Deleted Successfully.")
        </script>
    }
}

<h1>Users</h1>
<div class="row">
    <a class="h6" href="/Admin/AddCategory">Add New Category</a>
    @foreach (var user in Model)
    {
        <div class="col-sm-3 p-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@user.FirstName @user.LastName</h5>
                    <p class="card-text">@user.Email</p>
                    <p class="card-text">@user.PhoneNumber</p>
                    <a href="/Admin/DeleteUser/@user.Id" class="btn btn-outline-danger">Delete User</a>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <h6>Deletion of Any User Will Drop Their Notes</h6>
</div>